body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
}

nav {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

nav h2 {
  color: #0056b3;
  font-size: 1.2em;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
  display: block;
  padding: 5px 10px;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color: #e0e0e0;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2 {
  color: #0056b3;
}

pre {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  overflow: auto;
}

code {
  font-family: "Courier New", Courier, monospace;
  background: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
}

iframe {
  width: 100%;
  height: calc(100vh - 40px);
  border: none;
}


/* Estilos personalizados para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px;               /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;       /* Color de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #888;    /* Color de la barra de desplazamiento */
  border-radius: 10px;       /* Redondear las esquinas de la barra de desplazamiento */
  border: 3px solid #f1f1f1; /* Espacio alrededor de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;          /* Color de la barra de desplazamiento al pasar el cursor */
}
